.bodyFont
    // TODO: examine if this is necessary
    // line-height: 18px;

.bodyContainer
    display: flex
    flex-direction: column
    width: 100%
    height: 100vh

.contentContainer
    background-color: var(--content-background)
    color: var(--content-foreground)
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    margin: 0 auto

.contentContainerWithPadding
    width: 75%

.layoutContainer
    display: flex
    flex: 1
    height: 100
    width: 100%
    justify-content: center
    text-align: center
    padding: 1rem
