.bodyContainer
    width: 100%

.contentContainer
    display: flex
    background-color: var(--theme-background)
    color: var(--theme-foreground)
    width: 100%
    min-height: 100vh
    flex-direction: column
    margin: 0 auto

.contentContainerWithPadding
    width: 75%

.layoutContainer
    display: flex
    height: 100%
    width: 100%
    justify-content: center
    text-align: center
    max-width: 2560px
    margin: 0 auto
    padding: 0% 2%
