:root {
  --theme-background: #ffffff;
  --theme-foreground: #171717;
  --theme-background-header: #f0f0f0f2;
  --theme-background-banner: #80b2c2;
  --theme-background-light: #80b2c269;
  --text-sm: 60%;
  --text-slight-sm: 80%;
  --text-slight-lg: 120%;
  --text-lg: 150%;
  --text-lgr: 175%;
  --text-xlg: 200%;
  --text-xxlg: 400%;
  --font-title: 150%;
  --font-subtitle: 120%;
  --padding-header: 1rem;
  --project-title: 800%;
  --project-subtitle: 80%;
  --image-subtext: 60%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-background: #171717;
    --theme-foreground: #c1baba;
    --theme-background-header: #333333f2;
    --theme-background-banner: navy;
    --theme-background-light: #4b4a4a;
  }
}

html {
  font-size: calc(12px + 0.390625vw);
}

@media (min-width: 1600) {
  html {
    font-size: calc(15px + .5vw)
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--theme-foreground);
  background: var(--theme-background);
  font-family: system-ui, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* beginning atomic css */

.text-slight-lg {
  font-size: var(--text-slight-lg)
}

.text-slight-sm {
  font-size: var(--text-slight-sm)
}

.text-lg {
  font-size: var(--text-lg)
}

.text-lgr {
  font-size: var(--text-lgr)
}

.text-xlg {
  font-size: var(--text-xlg)
}

.text-xxlg {
  font-size: var(--text-xxlg)
}

.text-sm {
  font-size: var(--text-sm)
}

.text-left {
  text-align: left
}

.text-space {
  line-height: 200%
}

.width-restrict {
  max-width: 100%
}

@media (min-width: 1000px) {

  /* TODO: add more breakpoints, if needed */
  .width-restrict {
    max-width: 75%
  }
}

.faint {
  opacity: 0.6
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex
}

.center {
  display: grid;
  place-items: center
}

.flex-col {
  flex-direction: column;
}

.flow-row {
  flex-direction: row;
}

.gap-sm {
  gap: 5%
}

.flex-fill {
  flex: 1
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.padding-sm {
  padding: 2%
}

.padding-sm-horizontal {
  padding: 0% 2%
}

.padding-md {
  padding: 5%
}

.padding-lg {
  padding: 10%
}

.padding-header {
  padding: var(--padding-header)
}

.aspect-one {
  aspect-ratio: 1
}

.relative {
  position: relative;
}

.circular {
  border-radius: 50%
}

.theme-background-banner {
  background: var(--theme-background-banner)
}

.theme-background-header {
  background: var(--theme-background-header)
}

.background-blur {
  backdrop-filter: blur(5px);
}

.theme-background-light {
  background: var(--theme-background-light)
}