@media (prefers-color-scheme: light)
    .adjustForLightMode
        filter: brightness(0.8)

@media (prefers-color-scheme: dark)
    .adjustForDarkMode
        filter: invert(1)

.portrait
    width: 40%
    border: 10px solid #ff990a

@media (max-width: 1600)
    .portrait
        border-width: 5px

.logosContainer
    display: grid
    grid-template-columns: repeat(2, 1fr)
    row-gap: 3em
    column-gap: 1em
    width: 100%

.logoItem
    width: 15%
    aspect-ratio: 1

.homeContainer
    display: flex
    flex-direction: column
    height: 100%
    width: 100%
    align-items: center

.bannerContainer
    display: flex
    height: 96vh
    width: 100vw
    background-color: var(--theme-background-banner)
    justify-content: center
