@media (prefers-color-scheme: light)
    .adjustForLightMode
        filter: brightness(0.8)

@media (prefers-color-scheme: dark)
    .adjustForDarkMode
        filter: invert(1)

.logosContainer
    display: flex
    flex: 1
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 10%
    width: 50%

.logoItem
    position: relative
    aspect-ratio: 1
    width: calc(100% * 1/3 - 10%)
    max-width: calc(100% * 1/3 - 10%)

.homeContainer
    display: flex
    flex: 1
    flex-direction: column
    height: 100%
    width: 100%
    align-items: center

.homeContentFragmentContainer
    display: flex
    flex: 1
    align-items: center
    justify-content: center
    width: 100%

.homeContentVertical
    flex-direction: column

.restrictHeight
    // I really don't want to do this, but...
    max-height: 300px
