.navElement
    padding-left: 20px

.navElement:first-child
    padding-left: 0px

.noPadding
    padding-left: 0px

@media (prefers-color-scheme: dark)
    .whiten
        filter: brightness(20)

@media (prefers-color-scheme: dark)
    .invert
        filter: invert(1)
