.flex
    display: flex

.navElement
    padding-left: 20px

.navElement:first-child
    padding-left: 0px

.noPadding
    padding-left: 0px

.iconDarkTheme
    display: none

.iconLightTheme
    display: none

@media (prefers-color-scheme: dark)
    .iconLightTheme
        display: flex

@media (prefers-color-scheme: light)
    .iconDarkTheme
        display: flex
